<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>snap.nvim</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      background-color: transparent;
    }

    body {
      padding: 10px 20px;
      width: calc({{minWidth}}px + 30px);
    }

    pre#snap {
      margin: 0;
      background-color: {{theme.bgColor}};
      border-radius: 10px;
      border-radius: 10px;
      color: {{theme.fgColor}};
      display: block;
      font-family: '{{fontSettings.fonts.default.name}}', monospace;
      font-size: {{fontSettings.size}}pt;
      padding: 15px;
      white-space: pre; /* Preserve whitespace formatting */
      word-break: keep-all; /* Prevent breaking words */
      letter-spacing: 0; /* Ensure equal character width */
      font-variant-numeric: tabular-nums; /* Equal width for numbers */
      font-feature-settings: "tnum"; /* Tabular numbers */
    }

    pre#snap .code-line {
      margin: 0;
      padding: 0;
      line-height: {{fontSettings.line_height}}pt;
      display: block;
      margin-bottom: -{{fontSettings.line_height}}px;
    }

    pre#snap .code-line i {
      font-family: '{{fontSettings.fonts.italic.name}}', monospace;
      letter-spacing: 0;
      font-variant-numeric: tabular-nums;
      font-feature-settings: "tnum";
    }

    pre#snap .code-line b {
      font-family: '{{fontSettings.fonts.bold.name}}', monospace;
      letter-spacing: 0;
      font-variant-numeric: tabular-nums;
      font-feature-settings: "tnum";
    }

    pre#snap .code-line i b {
      font-family: '{{fontSettings.fonts.bold_italic.name}}', monospace;
      letter-spacing: 0;
      font-variant-numeric: tabular-nums;
      font-feature-settings: "tnum";
    }
  </style>
</head>
<body>
  <div id="container">
    <pre id="snap">{{{code}}}</pre>
  </div>
</body>
</html>
